<ng-container *ngIf="openPost">  
    <ul class="form-group">
      <li>
          <label for="id"> Id:</label>
          <input type="text" [attr.disabled]="disabled ? true : false" [value]="openPost.id" class="form-control" id="id">
      </li>
      <li>
        <label for="title">Title:</label>
        <input type="text"    [(ngModel)]="openPost.title" class="form-control" id="title" >
      </li>
      <li>
          <label for="description">Description:</label>
          <input type="text"    [(ngModel)]="openPost.description" class="form-control" id="description" > 
      </li> 
      <li>
          <label for="price">Price:</label>
          <input type="number"  [(ngModel)]="openPost.price" class="form-control" id="price" > 
      </li>
    </ul>
  <!-- <button (click)="enable()" id="edit"> editbutton</button> -->
  <button (click)="edit()" id="submit"> submit</button>
  <button [routerLink]="['/login']" class="btn btn-link">Cancel</button>
</ng-container> 