<ng-container>
  <div class="modal-content" *ngIf="openPost">
  <div class="modal-header">
    <h4 class="modal-title">Edit my Post</h4>
  </div>
  <div class="modal-body" >
    <ul class="form-group">
      <li>
          <label for="id"> Id:</label>
          <input type="text" [attr.disabled]="disabled ? true : false" [ngModel]="openPost.id" class="form-control" id="id">
      </li>
      <li>
        <label for="title">Title:</label>
        <input type="text"  [attr.disabled]="disabled ? true : false" [(ngModel)]="openPost.title" class="form-control" id="title" >
      </li>
      <li>
          <label for="description">Description:</label>
          <input type="text"  [attr.disabled]="disabled ? true : false" [(ngModel)]="openPost.description" class="form-control" id="description" > 
      </li> 
      <li>
          <label for="price">Price:</label>
          <input type="number"  [attr.disabled]="disabled ? true : false" [(ngModel)]="openPost.price" class="form-control" id="price" > 
      </li>
    </ul>
  </div>
  <button (click)="enable()" id="edit"> editbutton</button>
  <button (click)="edit()" id="edit"> submit</button>
  </div>
</ng-container>