
body{
    background-image: url("http://backgroundcheckall.com/wp-content/uploads/2017/12/geometric-pattern-background-2.jpg");
    height: 100%;
    width: 100%;
    top: 40px;
    left: 0px;
    margin: 0px;
    position: fixed;
    size: cover;
}
table tr.highlight {
    background-color: orange !important;
    color: #ffffff;
} 

.zui-table {
    border: solid 1px rgb(238, 61, 61);
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
    position: relative;
    left: 125px;
}
.zui-table th {
    background-color: rgb(0, 0, 0);
    border: solid 1px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table td {
    border: solid 1px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.zui-table tr {
    background-color: rgb(255, 255, 255);
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.btn
{
    background-color: black;
    color: whitesmoke;
}

strong
{
    text-shadow:1px 1px 1px #696363;
}