<ng-container>
  <br>
  <button (click)="getMyPosts()">View My Posts</button>
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search By Title/Description: <input class = "well" [(ngModel)]="searchBar" type="text" (keyup)="searchAndFilterPosts()">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$<input type="number" min="5" max="1000000000000" step="1" placeholder="Max Price" [(ngModel)]="maxPrice" (keyup)="searchAndFilterPosts()">
  <br>
  <!-- $<input type="number" min="5" max="1000000000000" step="1" placeholder="Max Price"> -->
  <br>
  <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="table-responsive" data-pattern="priority-columns">
    <table class="table table-bordered table-hover">
        <tr>
            <th>ID</th>
            <th>Title</th> 
            <th>Description</th>
            <th>Price</th>
            <th>Start Date</th> 
            <th>End Date</th>
        </tr>
        <tr *ngFor="let p of posts"  (click) ="viewPost(p.id)" (mouseover)="highlightRow(p)" [ngClass] = "{'highlight' : p.title == selectedPost}">
            <td> {{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.description}}</td>
            <td>${{p.price}}</td>
            <td>{{p.startDate}}</td>
            <td>{{p.endDate}}</td>
        </tr>
      </table>
    </div><!--end of .table-responsive-->
</div>
</div>
</div>
</ng-container>
