<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@may29-1805.ct98rdzre2nv.us-east-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">project2</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<!-- Hibernate specific properties (optional) -->
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		
		<!-- Tell Hibernate how to map objects to tables -->
		
		<!-- XML -->
		<!-- <mapping resource="HoneyPot.hbm.xml"/> -->
		
		<!-- JPA Annotations -->
		<mapping class="com.revature.beans.User"></mapping>
		<mapping class="com.revature.beans.Post"></mapping>
		<mapping class="com.revature.beans.Bid"></mapping>
		<mapping class="com.revature.beans.BidInfo"></mapping>

	</session-factory>
</hibernate-configuration>