<body>
<ng-container>
    <h2>New Post</h2>
    <div>
      <label for="isBidPost">Make Bid Post:</label>
      <input type="checkbox" (click)="isBid()">
    </div>
    <form [formGroup]="registrationForm" novalidate>
      <div>
        <label for="title">Title:</label><br>
        <input type="text" formControlName="title"/>
      </div>
      <div *ngIf="submitted && registrationForm.controls['title'].errors" class="alert alert-danger">
        <div *ngIf="registrationForm.controls['title'].errors.required">
          Title is required.
        </div>
      </div>
  
      <div>
        <label for="description">Description:</label>
        <input type="text" formControlName="description"/>
      </div>
      <div *ngIf="submitted && registrationForm.controls['description'].errors" class="alert alert-danger">
          <div *ngIf="registrationForm.controls['description'].errors.required">
            Descritpion is required.
          </div>
        </div>
  
      <div>
        <label *ngIf="!isBidPost; else bidAmount" for="price">Price:</label><br>
        <input type="number" min="1" step="any" formControlName="price"/>
      </div>
      <div *ngIf="submitted && registrationForm.controls['price'].errors" class="alert alert-danger">
        <div *ngIf="registrationForm.controls['price'].errors.required">
          Price is required.
        </div>
      </div>

      <div>
          <label for="startDate">Posted Date:</label>
          <input type="date"  formControlName="startDate"/>
        </div>
        <div *ngIf="submitted && registrationForm.controls['startDate'].errors" class="alert alert-danger">
          <div *ngIf="registrationForm.controls['startDate'].errors.required">
            Post Date is required.
          </div>
      </div>

      <div *ngIf="isBidPost" >
            <div>
              <label for="endDate">End Date:</label>
              <input type="date"  formControlName="endDate"/>
            </div>
            <div *ngIf="submitted && registrationForm.controls['endDate'].errors" class="alert alert-danger">
              <div *ngIf="registrationForm.controls['endDate'].errors.required">
                End Date is required.
              </div>
          </div>
      </div>
  
      <div>
        <button *ngIf="!isBidPost; else bidSubmit" [disabled]="loading" class="btn btn-primary" (click) = "addPost()">Post</button>
        <img *ngIf="submitted" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          <a [routerLink]="['/home']" class="btn btn-link">Cancel</a>
      </div>
    </form>
  </ng-container>
  
  <ng-template #bidAmount>
      <label for="price">Starting Amount:</label>
  </ng-template>

  <ng-template #bidSubmit>
      <button [disabled]="loading" class="btn btn-primary" (click) = "addBidPost()">Post</button>
  </ng-template>
  </body>