<div class="navbar">
  <a class="active" (click) = "home()">
      <h2>{{title}}</h2>
    </a>
  <a *ngIf="userService.getUser()">
        <a (click) = "logout()" id="Logout">
            <input type="button" class="button" value="Logout">
        </a>
        <a (click) = "getEditUser()"id="edituser">
            <input type="button" class="button" value="Edit User">
        </a>
        <a (click) = "addPost()" id="addPost">
            <input type="button" class="button" value="Add Post">
        </a>
  </a> 
</div>
