.navbar {
    background-color: black;
    overflow: hidden;
    margin: -10px;
}

.navbar a {
  float: right;
  color: #f2f2f2;
  text-align: right;
  padding: 0px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a.active {
  background-color: black;
  float: left;
  color: white;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 14px 16px;
    
}
