<body>
<ng-container>
  <div class="full">   
    <div class="login">
      <h1>Login</h1>
      <input type="text" [(ngModel)]="user" class="form-control" id="user" placeholder="Username" required="required">
    
      <input type="password" [(ngModel)]="pass" class="form-control" id="pass" placeholder="Password" required="required">
    
      <button type="submit" class="btn btn-primary btn-block btn-large" (click) = "login()">Submit</button>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Don't have an account?
      &nbsp;&nbsp;<a [routerLink]="['/register']">Register</a>
    </div>
  </div>
</ng-container>
</body>


