<ng-template>
      <ul class="form-group">
        <li>
         <label for="usr">Username:</label>
          <input type="text" [(ngModel)]="user" class="form-control" id="usr"></input>
        </li>

        <li class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" [(ngModel)]="pass" class="form-control" id="pwd"></input>
        </li>
        <li>
          <button type="submit" class="btn btn-primary">Submit</button>
        </li>
    </ul>
</ng-template>
