<ng-container>
    <ul class="form-group">
        <li>
         <label for="user">Username:</label>
          <input type="text" [(ngModel)]="user" class="form-control" id="user">
        </li>

        <li class="form-group">
          <label for="pass">Password:</label>
          <input type="password" [(ngModel)]="pass" class="form-control" id="pass">
        </li>
        <li>
          <button type="submit" class="btn btn-primary" (click) = "login()">Submit</button>
        </li>
    </ul>
    <div><a [routerLink]="['/register']" class="btn btn-link">Register</a></div>
</ng-container>
